.ost-leftNav {
  @lWidth: 100%;
  max-width: @lWidth;
  min-width: @lWidth;
  width: @lWidth;
  min-height: 100%;
  padding-top: 40px;
  padding-left: 10px;
  background: rgb(247, 251, 255);
  overflow-y: auto;
  li {
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(95, 95, 95);
    padding-left: 10px;
  }
  &-active {
    color: rgb(63, 122, 231) !important;
    background: rgb(232, 243, 255);
  }
}

.ost-leftNav-title {
    height: 44px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #666;
}